.vscode/c_cpp_properties.json
.vscode/tasks.json
hello_world.exe
hello_world
hello_world
a.exe
.vscode/settings.json
quadratic.exe
planet.exe
leapyear.exe
initials.exe
magic8ball.exe
fizzbuzz.exe
whaletalk.exe
func.exe
.gitignore
codecadmey_challenge_function.exe
ufo.exe
song_class.exe
